* {
    margin: 0;
    padding: 0;
}

canvas {
    border: 3px solid white;
    // image-rendering: crisp-edges;
}

.container {
    display: flex;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "andale mono", monospace;
    user-select: none;
}

h1 {
    color: yellow;
    text-shadow:
        0 0 4px yellow,
        0 0 11px yellow,
        0 0 19px yellow,
        0 0 40px yellow;
}

#timer {
    display: none;
    color: white;
}

.footer {
    font-family: "andale mono", monospace;
    a {
        margin: 0 10px;
        color: white;
        text-decoration: none;
        user-select: none;
    }
}